#chat-window {
      width: 100%;
      height: 80vh;
      padding: 10px;
      overflow-y: auto;
   }

   .message {
      margin-bottom: 10px;
      padding: 8px 12px;
      border-radius: 10px;
      max-width: 80%;
   }

   .user-message {
      background-color: #98a3b4;
      color: white;
      align-self: flex-end;
      margin-left: auto;
   }

   .bot-message {
      background-color: #e9ecef;
      color: black;
      align-self: flex-start;
      margin-right: auto;
   }

   .card-footer {
      position: fixed;
      left: 50%;
      width: 60%;
      transform: translateX(-50%);
      bottom: 20px;
      border: none;
      background: none;
   }

   .card-footer .input-group {
      width: 100%;
   }
   .bg-header{
      background: black;
      padding: 15px;
      text-align: center;
   }
   .bg-header h5{
      font-weight: 800;
   }
.input-send:focus{
   box-shadow: none;
   border: 1px solid black;
}

.btn-send > i {
   font-size: 150%;
}